.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

target
*.metadata
*.tmp
*.classpath
effective.pom
node_modules
template/node_modules
build/dev
build/qa
build/stage
build/prod
